<div class="main posts-index">
  <div class="container-posts-index">
    <% @posts.each do |post| %>
      <div class="posts-index-items">
        <div class="post-left">
          <%= gravatar_post_for post.user %>
        </div>
        <div class="post-right post-right-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        </div>
        <div class="post-picture">
          <a href="<%= "/posts/#{post.id}" %>">
            <img src="<%= "#{post.picture}" %>">
          </a>
        </div>
        <div class="evaluation-index">
          <label id="eval-star">★</label><span><%= "#{post.star}" %></span>
          <label id="evaluation-food-name"><%= "#{post.food_name}" %></label>
          <%= "#{post.address}" %>
        </div>
        <!-- <%= image_tag post.picture.url if post.picture? %> -->
        <!-- <img src="/user_images/gutty_def.png"> -->
      </div>
    <% end %>
  </div>
</div>
