<div class="main posts-index">
  <div class="container-posts-index">
    <% @posts.each do |post| %>
      <div class="posts-index-items">
        <div class="post-left">
          <%= gravatar_post_for post.user %>
        </div>
        <div class="post-right">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        </div>
        <div class="post-picture">
          <img src="<%= "#{post.picture}" %>">
        </div>
        <br>
        <%= link_to(post.content, "/posts/#{post.id}") %>
        <!-- <%= image_tag post.picture.url if post.picture? %> -->
        <!-- <img src="/user_images/gutty_def.png"> -->
      </div>
    <% end %>
  </div>
</div>
